// Input card font
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700|Source+Sans+Pro:400,600,700&display=swap");
$inputFormSectionsFont: "Source Sans Pro", sans-serif;


$creditCardFormHeight: 1100px;

$creditCardFormWidth: 1000px;

$mainBackground: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
