<section class="main-container">
  <div class="credit-card-form-container">
    <div class="credit-card">
      <div class="rfid-chip">

      </div>
      <div class="credit-provider-logo">

      </div>
      <div class="credit-card-number">
        {{cardNumber.value}}
      </div>
      <div class="card-holder-container">
        <p class="card-holder-text title">
          {{cardHolderTitle}}
        </p>
        <p class="card-holder-text name">
          {{cardHolderName.value.toUpperCase()}}
        </p>
      </div>
      <div class="expiry-date-container">
        <p class="expiry-date-text title">
          {{expiresTitle}}
        </p>
        <p class="expiry-date-text value">
          {{expiryMonth.value}}/{{expiryYear.value}}
        </p>
      </div>
    </div>
    <div class="input-form">
    </div>
    <div class="card-number-input-container">
      <p class="card-input-text">
        Card Number
      </p>
      <input type="text" name="" value="" class="input-box" id="card-number-input-box" (formControl)="cardNumber" (keyup)="updateCardNumber($event)">
    </div>
    <div class="card-holder-input-container">
      <p class="card-input-text">
        Card Holder
      </p>
      <input type="text" name="" value="" class="input-box" id="card-holder-input-box">
    </div>
    <div class="card-info-input-container">
      <div class="month-input-container">
        <p class="card-input-text">
          Expiry Date
        </p>
        <select class="exp-date-select" name="month">
          <option value="" disabled selected hidden>Month</option>
          <option value="" *ngFor="let month of monthOptions">{{month}}</option>
        </select>
      </div>
      <div class="year-input-container">
        <select class="exp-date-select" name="year" id="year-select">
          <option id="year-placeholder" value="" disabled selected hidden>Year</option>
          <option value="" *ngFor="let year of yearOptions">{{year}}</option>
        </select>
      </div>
      <div class="cvv-input-container">
        <p class="card-input-text">
          CVV
        </p>
        <input type="text" name="" value="" class="input-box" id="cvv-input-box">
      </div>
    </div>
    <button class="submit-button" type="button" name="button">
      Submit
    </button>
  </div>
</section>
