@import 'variables.scss';

*, *::before, *::after {box-sizing: border-box;}


.main-container {
  height: 100vh;
  width: 100vw;
  background: $originalCCGradient;
  display: grid;

  .credit-card-form-container {
    place-self: center;
    height: $creditCardFormHeight;
    width: $creditCardFormWidth;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr .5fr .5fr 1fr;
    grid-template-columns: 75px 75px auto 75px 75px;
    grid-row-gap: 1em;

    .credit-card {
      grid-row: 1 / 3;
      grid-column: 3 / 4;
      background-image: url(../../../assets/cc-background-cool-black.jpeg);
      z-index: 1;
      border-radius: 1em;
      box-shadow: 0px 27px 109px -11px rgba(0,0,0,0.48);
      display: grid;
      grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
      padding: 2em;

      .rfid-chip {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        background-image: url(../../../assets/rfid-chip.svg);
        height: 91.87px;
        width: 101.33px;
      }

      .credit-provider-logo {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        background-image: url(../../../assets/visa-logo-white-1.svg);
        background-repeat: no-repeat;
        height: 87.81px;
        width: 159px;
        justify-self: end;
      }

      .credit-card-number {
        grid-row: 2 / 3;
        grid-column: 1 / -1;
        align-self: end;
        margin-bottom: .5rem;
        justify-self: start;
        color: white;
        font-size: 3em;
        font-family: $cardNumberFont;
        word-spacing: 1rem;
        border-radius: 8px;
        padding: .5rem .5rem .5rem .8rem;
      }

      .card-holder-container {
        grid-row: 3 / 4;
        grid-column: 1 / 3;
        margin: 0;
        align-self: end;
        padding: 1rem;

        .card-holder-text {
          color: white;
          padding: 0;
          margin: 0;
        }

        .title {
          font-family: $cardNumberFont;
          font-size: 1.5rem;
          margin-bottom: .4rem;
        }

        .name {
          font-family: $cardHolderNameFont;
          font-size: 2rem;
        }
      }

      .expiry-date-container {
        grid-row: 3 / 4;
        grid-column: 3 / 4;
        place-self: end;
        padding: 1rem;

        .expiry-date-text {
          color: white;
          padding: 0;
          margin: 0;
        }

        .title {
          font-family: $cardNumberFont;
          font-size: 1.5rem;
          margin-bottom: .4rem;
        }

        .value {
          font-family: $cardHolderNameFont;
          font-size: 2rem;
        }
      }
    }

    .input-form {
      grid-row: 2 / 7;
      grid-column: 1 / -1;
      background: white;
      border-radius: 1em;
    }

    .card-input-text {
      margin: 0;
      padding: .3em 0em 0em 0em;
      font-family: $inputFormSectionsFont;
      font-size: 1.8em;
      font-weight: 100;
    }

    .input-box {
      margin-top: .2em;
      padding: .5em;
      height: 5em;
      border: 2px solid lightgrey;
      border-radius: .5em;

      &:before {
        height: 10px;
        width: 10px;
        background: black;
      }
    }

    .card-number-input-container {
      grid-column: 2 / -2;
      grid-row: 3 / 4;
      height: 60%;
      align-self: end;

      #card-number-input-box {
        width: 100%;
      }
    }

    .card-number-input-container:focus {
      outline: 0 none;
    }

    .card-holder-input-container {
      grid-row: 4 / 5;
      grid-column: 2 / -2;

      #card-holder-input-box {
        width: 100%;
      }
    }

    .card-info-input-container {
      grid-row: 5 / 6;
      grid-column: 2 / -2;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;

      .exp-date-select {
        height: 5em;
        width: 90%;
        margin-top: .2em;
        padding: .5em;
        border: 2px solid lightgrey;
        border-radius: .5em;

      }

      .month-input-container {
        grid-column: 1 / 2;

      }

      .year-input-container {
        grid-column: 2 / 3;
        align-self: end;
      }

      .cvv-input-container {
        grid-column: 3 / 4;
        justify-self: end;
      }

    }

    .submit-button {
      grid-row: -2 / -1;
      grid-column: 2 / 5;
      height: 50%;
      align-self: center;
      background: #2364d2;
      border: none;
      outline: none;
      border-radius: 5px;
      font-family: $inputFormSectionsFont;
      font-size: 2em;
      cursor: pointer;
      color: white;
    }

  }
}
